:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    padding: 20px;
    background-color: blue;
    color: white;
}

mk-scroller {
    flex-grow: 1;
    background-color: blanchedalmond;
    margin: 4px;
}